@model IEnumerable<EventSite.Models.EventService>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventServiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventServiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventServiceId })
        </td>
    </tr>
}

</table>
